{% extends 'base.html' %}
{% load static %}
{% block title %} Create Story {% endblock %}

{% block content %}
    <section class="ftco-section contact-section create-story">
        <div class="container">
            <div class="row block-9 justify-content-center">
                <div class="col-md-6 order-md-last d-flex">
                    <form method="POST" class="bg-light p-5 contact-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <a class="navbar-brand center" href="#">Add New Stories<span>.</span></a>
                        <div class="form-group">
                            <input name="title" type="text" class="form-control" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <textarea name="descriptions" rows="10" class="form-control" placeholder="Description"></textarea>
                        </div>
                        <div class="form-group">
                            <select class="form-control mb-3" name="category" id="">
                                <option value="0">Select category</option>
                                {% for cat in category_list %}
                                    <option value="1">{{cat}}</option>
                                {% endfor %}
                            </select>
                            <select class="form-control mb-3" name="tag" id="">
                                <option value="0">Select tags</option>
                                {% for tag in tags %}
                                    <option value="1">{{tag}}</option>
                                {% endfor %}
                     
                                </select>
                        </div>
                        <div class="form-group">
                            <input name="image" type="file"  accept="image/png,image/gif,image/jpeg,image.jpg">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
{% endblock %}