{% extends 'base.html' %}
{% load static %}
{% block title %} Food Story {% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_4.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-3 bread">{{all_story.title}} Detail Page</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home <i
                            class="ion-ios-arrow-forward"></i></a></span> <span>Detail Page<i
                            class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 order-lg-last ftco-animate">
                    <div class="tag-widget post-tag-container mb-5 mt-5">
                        <div class="tagcloud">
                            {% for tag in all_story.tag.all %}
                                <a href="#" class="tag-cloud-link">{{tag}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {{all_story.descriptions|safe}}
                        
                    
                    <div class="about-author d-flex p-4 bg-light mt-5">
                        <div class="bio mr-5">
                            <img src="{{all_story.author.profile_photo.url}}" alt="Image placeholder" class="img-fluid-author mb-4">
                        </div>
                        <div class="desc">
                            <a href="#"><h3>{{all_story.author.first_name}} {{all_story.author.last_name}}</h3></a>
                            <p>{{all_story.author.about}}</p>
                        </div>
                    </div>


                    <div class="pt-5 mt-5">
                            <h3 class="mb-3">{{all_story.story_comment.count}} Comments</h3>
                        <ul class="comment-list">
                            {% for comment in all_story.story_comment.all %}    
                            <li class="comment">
                                <div class="vcard bio">
                                    <img src="{{all_story.image.url}}" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                    <h3>{{comment.name}}</h3>
                                    <div class="meta">{{comment.created_at}}</div>
                                    <p>{{comment.message}}</p>
                                    <p><a href="#" class="reply">Reply</a></p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <!-- END comment-list -->

                        <div class="comment-form-wrap pt-5">
                            <h3 class="mb-5">Leave a comment</h3>
                            <form method="post" class="p-5 bg-light">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <!-- <input type="text" class="form-control" id="name"> -->
                                    {{form.name}}
                                </div>
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <!-- <input type="email" class="form-control" id="email"> -->
                                    {{form.email}}
                                </div>
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <!-- <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                                     -->
                                     {{form.message}}
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- .col-md-8 -->
                <div class="col-lg-4 sidebar pr-lg-5 ftco-animate">
                    <div class="sidebar-box ftco-animate">
                        <ul class="categories">
                            <h3 class="heading mb-4">Categories</h3>
                            {% for category in category_list %}
                                <li><a href="{% url 'stories' %}?category={{category.name}}">{{category}} <span>({{category.count}})</span></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <h3 class="heading mb-4">Recent Blog</h3>
                        {% for recent in recent_blog %}
                            <div class="block-21 mb-4 d-flex">
                                <a href="{% url 'story' recent.pk %}" class="blog-img mr-4" style="background-image: url({{recent.image.url}});"></a>
                                <div class="text">
                                    <h3><a href="{% url 'story' recent.pk %}">{{recent.title}}</a></h3>
                                    <div class="meta">
                                        <div><a href="#"><span class="icon-calendar"></span>  {{recent.created_at}}</a></div>
                                        <div><a href="#"><span class="icon-person"></span> {{recent.author}}</a></div>
                                        <div><a href="#"><span class="icon-chat"></span>{{recent.story_comment.count}}</a></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                       
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="heading mb-4">Tag Cloud</h3>
                        <div class="tagcloud">
                            {% for tag in all_tags %}
                                <a href="#" class="tag-cloud-link">{{tag}}</a>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section> <!-- .section -->

    <section class="ftco-subscribe ftco-section bg-light">
        <div class="overlay">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 text-wrap text-center heading-section ftco-animate">
                        <h2 class="mb-4"><span>Subcribe to our Newsletter</span></h2>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It
                            is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <div class="row d-flex justify-content-center mt-4 mb-4">
                            <div class="col-md-8">
                                <form action="#" class="subscribe-form">
                                    <div class="form-group d-flex">
                                        <input type="text" class="form-control" placeholder="Enter email address">
                                        <input type="submit" value="Subscribe" class="submit px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}